
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Agape Village Program | About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="img/AWMlogo.png">
    <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/ie9.css" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="~/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
   
    <!-- Nav Menu - START...-->
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i>Agape Women's Ministry</span>
                                <div class="pull-right">
                                    <span class="alt-font"> We Love,  We Inspire, And Promote HOPE</span>
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->

                    <div class="row nav-menu">
                        <div class="col-sm-3 col-md-2 columns">
                            <a href="~/index">
                                <img class="logo logo-light" alt="Logo" src="img/AWMlogo.png">
                                <img class="logo logo-dark" alt="Logo" src="img/AWMlogo.png">
                            </a>
                        </div>
                        <div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li class="active">
                                    <a href="~/index.cshtml">Home</a>

                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About Us</a>
                                    <ul class="subnav">
                                        <li><a href="~/about">Who We Are</a></li>
                                        <li><a href="~/programs">Programs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/contact">Contact Us</a>

                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="~/givingback">Giving Back</a>
                                </li>
                                <li>
                                    <a href="~/donate">Donate</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                            </ul>
                            <ul class="social-icons text-right">
                                <li>
                                    <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                                        <i class="icon social_youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>
                </div><!--end of container-->
            </nav>
        </div>
        <!-- Nav Menu - END...-->

    <div class="main-container">
        <!-- Landing Page - START...-->
        <header class="page-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="~/img/side3.jpg">
            </div>
            <!-- Story- START...-->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="text-white"><i class="fa fa-history fa-spin fa-fw"></i> Our Story...</h1>
                    </div>
                    <div class="col-sm-3">
                        <p class="text-white lead">
                            In 2011, Agape Village Program was birthed in Atlanta, GA with a passion to <span class="txtUnderline">MENTOR</span> young women and girls.<br />
                            Since the inception of this organization, we have mentored women and helped them realize their purpose/potential and discover their true identity.
                            In December 2013, Agape went on it's first mission’s trip to Lagos, Nigeria, and Monrovia, Liberia.
                        </p>
                    </div><!--end of row-->
                    <div class="col-sm-3">
                        <p class="text-white lead">
                            During the time spent in Liberia, we quickly realized the need for greater assistance with the women and girls we encountered.
                            After returning to the U.S., the focus of the ministry included helping young women and girls in Liberia, as well as continuing to mentor women and girls in the U.S.
                        </p>
                    </div><!--end of row-->
                    <div class="col-sm-3">
                        <p class="text-white lead">
                            We are also honored to work with the <span class="txtUnderline">Refugee Community in Clarkston, GA</span>.
                            It is with this passion that Agape Village Program now serves disadvantaged young women and vulnerable girls globally.
                        </p>
                    </div><!--end of row-->
                    <div class="col-sm-3">
                        <p class="text-white lead">
                            Our team work with girls who have been subjected to prostitution, rape, and injustices of many kinds toward them.
                            Our goal is to help them understand their worth, grow their skillsets, and show them compassion in how we love and care for them.
                        </p>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
            <!-- Story - END...-->
        </header>
        <!-- Landing Page - END...-->

        <!--Mission/Vision/Statement...START-->
        <section class="duplicatable-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h5>Our Mission</h5>
                        <p>
                            Agape Women’s Ministry mission is to <span class="txtUnderline">MENTOR</span> and restore the dignity of disadvantaged young girls and vulnerable women.
                        </p>
                    </div><!--end 3 col-->
                    <div class="col-md-4 col-sm-6">
                        <h5>Our Vision</h5>
                        <p>
                            To provide <span class="txtUnderline">HOPE</span> to disadvantaged young girls and vulnerable women.
                        </p>
                    </div><!--end 3 col-->
                    <div class="col-md-4 col-sm-6">
                        <h5>Belief Statements</h5>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check-square"></i>We believe in the African adage that says <span class="txtUnderline">IT TAKES A VILLAGE</span></li>
                            <li><i class="fa-li fa fa-check-square"></i>We believe in developing/nurturing relationships</li>
                            <li><i class="fa-li fa fa-check-square"></i>We believe in outreach and acts of service.</li>
                        </ul>
                    </div><!--end 3 col-->
                </div><!--end of row-->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <details>
                            <summary>About Liberia</summary>
                            <p>
                                On December 24, 1989, Liberia was invaded by rebels loyal to then leader Charles Taylor.
                                A civil war would ensue and would last for 14 years. In 1997, a peace deal was brokered and Liberia would become a democratic nation once more.
                                Although the war has ended, Liberia is a country still struggling to support its population.
                                The devastation of the civil war still lingers and the recent Ebola epidemic has worsened the hopelessness of the country.
                                Young girls are the primary victims of the terrible conditions and they perpetuate the situation when these children have children.
                            </p>
                        </details>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <details>
                            <summary>About Clarkston Refugee Community.</summary>
                            <p>
                                Thousands of refugees come to the United States, with a desire to escape political, religious and ethnic persecution, or the violence of war within their home countries.
                                In the early 1990’s, refugees from around the world began to be resettled in the community of Clarkston, GA, a small town located near metro Atlanta.
                                Most of the families come to the U.S. with young children, some of who have experienced great atrocities and have little or no hope of a bright future.
                                We can help to change their circumstances and give them HOPE through the Agape program.
                            </p>
                        </details>
                    </div>
                </div>
            </div>
        </section>
        <!--Mission/Vision/Statement...START-->

        <!--Team...START-->
        <section class="team-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <i class="fa fa-users fa-3x" ></i>
                        <h1>Meet Our Team</h1>
                    </div>
                </div><!--end of row-->
                <div class="row space-bottom-large">
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Kimberlyn Abbey" src="~/img/kim.png">
                            <h2>Kimberlyn Abbey</h2>
                            <h5>Founder &amp; CEO</h5>
                            <details>
                                <summary>Kim's Background.</summary>
                                <p class="space-top-small">
                                    In 1989, Liberia became engulfed in a civil war that would last 14 years.
                                    By the grace of God, she was able to escape the war in Liberia and became a refugee in Ghana, and Guinea before repatriating to the U.S permanently.
                                    The conditions were so horrific when she fled that she vowed never to go back.
                                    That is until she had a chance to go back home after 24 years.
                                    What she saw completely humbled her and broke every preconceived idea she had created.
                                    God placed a desire in her heart to help the people that she left behind.
                                    The girls and women that Agape is assisting could have easily been Kim or her sisters.
                                    The education that she was privileged to receive has been a blessing and cannot imagine the price that these girls often pay just to try and get an education.
                                    Some of them have resolved to selling themselves and their dignity just to survive and make money for their children, their parents, or their siblings.
                                    God has laid their needs on her heart and she is leading the effort to bring hope to their lives just as she have received hope in her life.
                                    She and her husband Daniel are passionate about giving back and helping those in need.
                                    With strong Christian family values, Kim and Daniel serve in the Connections Ministry at their church in Norcross, GA., and are strong supporters of the work of the Gospel.
                                    They are blessed with one son.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Daniel Abbey" src="~/img/daniel.png">
                            <h2>Daniel Abbey</h2>
                            <h5>Board Chair</h5>
                            <details>
                                <summary>Daniel's Background.</summary>
                                <p class="space-top-small">
                                    Daniel Abbey is the Director of Network Engineering at Cox Enterprises Inc.
                                    As Director of Network Engineering, he is responsible for the strategic planning, implementation and maintenance of Cox Enterprises Inc. and Cox Media  Group’s data and information security network.
                                    Cox Enterprises is a privately held American communications, media and automotive services company with revenues of over $17 billion and more than 55,000 employees.
                                    Daniel joined Cox in 2011 as Network Engineering Manager.
                                    In 2013 he was promoted to Sr. Network Engineering Manager, and subsequently promoted to director in 2014. Prior to joining Cox, he worked in several senior IT roles at Norfolk Southern Railway, Accenture LLC, and ITC^Deltacom in Atlanta, Georgia.
                                    Daniel was born and raised in Monrovia, Liberia, where he completed his high school education and started post-secondary training.
                                    He held several IT positions in Liberia before coming to the US; namely, Sr. Computer Programmer at the Central Bank of Liberia, Systems Administrator at Mobil Inc., Liberia and Sr. Electronic Data Processing Officer at UNICEF, Liberia.
                                    During his time at UNICEF, he had the privilege of working in the Ivory Coast and Sierra Leone before coming to the US as an international student in December 1995.
                                    He holds a B.A degree in Telecommunications Management from DeVry University and an MBA in Management of Technology from Georgia Institute of Technology.
                                    His post-secondary education also includes several professional IT certifications and a diploma in Computer Programming and Electronic Data Processing from the West African Computer Science Institute (WACSI) in Accra, Ghana.
                                    He enjoys spending his spare time with family and volunteering at church. He and his wife are active members of the Connections Ministry at their local church.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Kaisma Penn-Titley" src="~/img/kaisma.png">
                            <h2>Kaisma Penn-Titley</h2>
                            <h5>Secretary</h5>
                            <details>
                                <summary>Kaisma's Background.</summary>
                                <p class="space-top-small">
                                    Kaisma was born and raised in the British Virgin Islands.
                                    An alumna of Georgia College & State University, she now resides in the Atlanta area with her husband and three children.
                                    Kaisma and  her family are members of Victory World Church where they faithfully serve.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                    
                </div>
                <div class="row space-bottom-large">
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Marilyn Luke Ure" src="~/img/maryln.png">
                            <h2>Marilyn Luke Urey</h2>
                            <h5>Board Advisor</h5>
                            <details>
                                <summary>Marilyn's Background.</summary>
                                <p class="space-top-small">
                                    Marilyn has worked in various capacities in Liberia. She worked as a nurse at LAMCO   Hospital in Buchanan between March 1984 through May 1986, then with the United Nations Development Programme (UNDP) from June 1986 through November 1991 prior to leaving the country in 1990 due to the civil war.
                                    During her years away from Liberia, Marilyn worked at Children's Hospital of Wisconsin in Milwaukee, Wisconsin for the next 21 years. Upon her return to Liberia in 2011, she worked for Population Services International as the Sexual & Reproductive Health Program Manager for 4 years.
                                    She currently works in the US with a private faith-based organization.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Edwina Morgan Forh" src="~/img/edwin.png">
                            <h2>Edwina Morgan Forh</h2>
                            <h5>Partner</h5>
                            <details>
                                <summary>Edwina's Background.</summary>
                                <p class="space-top-small">
                                    Edwina Morgan Forh is a corporate professional with over 20 years of   sales, marketing, and business experience under her belt. She has worked   and contracted in various market segments both commercial and federal.   In addition to serving as VP of Operations for The Forh Group, and Founder of The City of   Hope International Projects, Edwina currently works as a Certified Information Systems Auditor for a Fortune 100 Company.
                                    Edwina believes that success comes by living life on purpose and having the necessary tools to succeed. She believes in acting now, getting results, staying accountable, being persistent, living a life of integrity, and making life count by paying it forward and giving back. There are no words to express the joy that comes from helping others less fortunate. Edwina uses a written goal and roadmap, unshakeable focus and faith, zero tolerance for procrastination, a healthy ambition to be better than yesterday, extreme positivity, and an insatiable drive to succeed.
                                    As a firm believer in education and continual personal development, Edwina earned a Biomedical Research Degree from the University of Maryland at Baltimore School of Medicine, and is currently in pursuit of an Information Systems Engineering Degree with emphasis in Cybersecurity from the Johns Hopkins University School of Engineering.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Ayele Ajavon" src="~/img/ayele.png">
                            <h2>Ayele Ajavon</h2>
                            <h5>Partner</h5>
                            <details>
                                <summary>Ayele's Background.</summary>
                                <p class="space-top-small">
                                    A native born of Monrovia, Liberia, Ayele R. Ajavon has spent much of   her life in   the United States. With more than sixteen years of Human   Resources experience, he has held management positions within her   profession and has worked with various Fortune 500 companies.
                                    Her passion and drive to help others has been her sustaining force within her career and has also been the inspiration in making a difference within the community and most importantly in the lives of our youth. As a wife and a mother of four, Ayele understands and promotes the importance of guidance and structure that is needed in their young lives. She also understands the impact education has in seeing dreams achieved.
                                    Having obtained her Masters of Business Administration while raising her family; she continues her pursuit of higher education as she works towards her Doctorate of Business Administration, at Walden University all in efforts to be that example to her children and the children of the community.
                                    She believes that there is certain level of accountability we as adults have in promoting the betterment of our communities; and that entails empowering, motivating, and inspiring our youth to reach their highest potential possible.
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                </div>
                <div class="row space-bottom-large">
                    
                    <div class="col-sm-4">
                        <div class="team-1-member">
                            <img alt="Cy Forh" src="~/img/cy.png">
                            <h2>Cy Forh</h2>
                            <h5>Partner</h5>
                            <details>
                                <summary>Cy's Background.</summary>
                                <p class="space-top-small">
                                    Cyrenius N. Forh, Jr (Cy as he is affectionately called by many) is one of the most powerful motivational / inspirational speakers on the planet. He's the President and CEO of The Forh Group, LLC, a Management Consultancy firm that provides Business Consulting, Risk Management, Staffing Solutions, and Executive Coaching/Training for fortune 100 companies and nonprofit organizations.
                                    Cy is also an ordained Pastor and Executive Director of Ministry Operations at New Birth Church, California (under the auspices of Bishop C. Carl Smith), overseeing two campuses, 300 volunteer who serve 3500 member weekly. Cy is also the President of the International Faith-based Coalition, West Coast, USA. With over 20 years of ministerial experience and business leadership acumen, Cy is the consummate servant and community leader, giving voice to public engagement and moral responsibility. With clarity he knows that his life assignment is to empower people to live a life by God’s design, full of power and purpose, and infuse the transformation of lives from ordinary to extraordinary, through the application of practical personal development regimented strategies. He believes that greatness is not given to the few, but is the duty of all. He is also a prolific writer and published author of books on Winning, Leadership and Vision.
                                    In addition to Cy’s effective leadership, ebullient oratorical abilities and entrepreneurial successes, he is an honored father and loving husband who firmly believes that his Christian values are the foundational strength to who he is. His love for people has kept his doors opened to many, as the place of truth and positive change. Cy and his wife Edwina are exceptional mentors who believe that in order to impact lives, one’s life must been impacted to the place of self-mastery--For only then can one teach another to rise above the norm. Together, they are a team whose mission is to Make Life Count!!!
                                </p>
                            </details>
                        </div><!--end of team member-->
                    </div>
                </div>

                <!--end of row-->
            </div><!--end of container-->
        </section>
        <!--Team...END-->
    </div>

    <!--Start of social media section-->
    <section class="social-bar no-pad">
        <div class="col-md-4 col-sm-6 no-pad">
            <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                <div class="link bg-twitter">
                    <div class="initial">
                        <i class="icon social_twitter"></i>
                    </div>
                    <div class="hover-state">
                        <span class="text-white">Follow On Twitter</span>
                    </div>
                </div>
            </a>
        </div><!--end of individual link-->
        <div class="col-md-4 col-sm-6 no-pad">
            <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                <div class="link bg-facebook">
                    <div class="initial">
                        <i class="icon social_facebook"></i>
                    </div>
                    <div class="hover-state">
                        <span class="text-white">Friends us on Facebook</span>
                    </div>
                </div>
            </a>
        </div><!--end of individual link-->
        <div class="col-md-4 col-sm-6 no-pad">
            <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                <div class="link bg-dribbble">
                    <div class="initial">
                        <i class="icon social_youtube"></i>
                    </div>
                    <div class="hover-state">
                        <span class="text-white">Subscribe On YouTube</span>
                    </div>
                </div>
            </a>
        </div><!--end of individual link-->
    </section>
    <!--End of social media section-->
    <!--Footer...START-->
    <div class="footer-container">
        <footer class="short bg-secondary-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <span class="sub">© Copyright <span id="footerYear"> </span> Agape Women's Ministry. All Rights Reserverd.</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <ul class="social-icons sub reduce-social-icons">
                            <li class="reduce_font">
                                <i class="icon icon_mail "></i><a href="~/Contact.cshtml" target="_blank">agapewomensministry@gmail.com</a>
                            </li>
                            <li class="reduce_font">
                                <i class="fa fa-phone "> </i> +(470) 242-7310 or <i class="fa fa-phone reduce_fa_icon reduce_font"></i> +(404) 386-6668.
                            </li>
                        </ul>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </footer>
    </div>
    <!--Footer...END-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.plugin.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.flexslider-min.js"></script>
    <script src="~/js/smooth-scroll.min.js"></script>
    <script src="~/js/skrollr.min.js"></script>
    <script src="~/js/spectragram.min.js"></script>
    <script src="~/js/scrollReveal.min.js"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/twitterFetcher_v10_min.js"></script>
    <script src="~/js/lightbox.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
