<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Agape Village | Donate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="img/AWMlogo.png">
        <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
        <!-- Nav Menu - START...-->
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i>Agape Women's Ministry</span>
                                <div class="pull-right">
                                    <span class="alt-font"> We Love,  We Inspire, And Promote HOPE</span>
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->

                    <div class="row nav-menu">
                        <div class="col-sm-3 col-md-2 columns">
                            <a href="~/index">
                                <img class="logo logo-light" alt="Logo" src="img/AWMlogo.png">
                                <img class="logo logo-dark" alt="Logo" src="img/AWMlogo.png">
                            </a>
                        </div>
                        <div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li class="active">
                                    <a href="~/index.cshtml">Home</a>

                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About Us</a>
                                    <ul class="subnav">
                                        <li><a href="~/about">Who We Are</a></li>
                                        <li><a href="~/programs">Programs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/contact">Contact Us</a>

                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="~/givingback">Giving Back</a>
                                </li>
                                <li>
                                    <a href="~/donate">Donate</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                            </ul>
                            <ul class="social-icons text-right">
                                <li>
                                    <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                                        <i class="icon social_youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>
                </div><!--end of container-->
            </nav>
        </div>
        <!-- Nav Menu - END...-->

		<div class="main-container">
			<header class="page-header">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="~/img/side2.jpg">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
                            <h2 class="text-white alt-font"><i class="fa fa-gift fa-3x" aria-hidden="true"></i> Donating To Agape Women Ministries.</h2>
							<h1 class="text-white"><i class="fa fa-quote-left" aria-hidden="true"></i>
                                When we give cheerfully and accept gratefully, everyone is blessed.
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                            </h1> <span class="text-white"> - Dr. Maya Angelou</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>

            <section class="primary-features duplicatable-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="text-white">Your Support Is Needed  &amp; Appreciated!<br> Learn How You Can Support Us...</h1>
                        </div>
                            <div class="row">
                                <div class="col-md-12 text-center clearfix">
                                    <h3 class="text-white">Your monetary donation is tax deductible (according to tax code 501(c)(3) of the IRS) and will be used to support the ministry's on-going programs.
                                         Please help us meet their needs as we love and care for them. We cannot fulfill our mission without your support, so please GIVE.
                                    </h3>
                                </div>
                        </div><!--end of container-->
                    <br />

                        <div class="col-md-6 col-lg-6 clearfix">
                            <div class="feature feature-icon-small">
                                <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                                <h6 class="text-white">DONATE ITEMS</h6>
                                <p class="text-white">
                                    We also appreciate your time and resources, 
                                    so if you'd like to donate hygiene products for the girls, please let us know.
                                </p>
                            </div><!--end of feature-->
                        </div>

                    <div class="col-md-6 col-lg-6 clearfix">
                            <div class="feature feature-icon-small">
                                <i class="icon icon-linegraph"></i>
                                <h6 class="text-white">VOLUNTEER&nbsp;</h6>
                                <p class="text-white">Donate your time by going with us on a Missions Trip or serving locally.  
                                    Contact us via <i class="fa fa-envelope reduce_fa_icon"></i> agapewomensministry@gmail.com
                                    or <i class="fa fa-phone reduce_fa_icon"> </i> +(470) 242-7310 or <i class="fa fa-phone reduce_fa_icon" ></i> +(404) 386-6668.
                                </p>
                            </div><!--end of feature-->
                        </div>

                    </div><!--end of row-->

                </div><!--end of container-->
            </section>
			
			<section class="inline-image-right">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 align-vertical no-align-mobile">
							<h1>Ways To Donate</h1>
							<h6>No Act of <font class="kindFont" color="#5cb85c">K</font><font class="kindFont" color="#d41243">I</font><font class="kindFont" color="#00aedb">N</font><font class="kindFont" color="#ffa700">D</font><font class="kindFont" color="#673888">N</font><font class="kindFont" color="#5cb85c">E</font><font class="kindFont" color="#d41243">S</font><font class="kindFont" color="#00aedb">S</font>
                             no matterhow small is ever wasted.</h6>
							<p class="lead">
								Become a partner with us and by making a donation through paypal.
							</p>
						</div>

                        <!--
                        <div class="col-sm-6 text-center">
                            <a href="https://www.paypal.com/donate/?token=h6Nq3JpasSIsyCh2PqO4SxK2DGo9uwKtftLnSy5r3X_eU26zBIIBxpMxOjedw0j8oOXjIG&country.x=US&locale.x=" target="_blank" />
                                <img alt="Product Image" class="product-image" src="img/paypal_button.png">
                            </a>
						</div>
                        -->
						
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="WCXDCSTSQT6TY">
                            <input type="image" src="img/paypal_button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="100" height="100">
                        </form>



					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>

        <!--Start of social media section-->
        <section class="social-bar no-pad">
            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                    <div class="link bg-twitter">
                        <div class="initial">
                            <i class="icon social_twitter"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Follow On Twitter</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                    <div class="link bg-facebook">
                        <div class="initial">
                            <i class="icon social_facebook"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Friends us on Facebook</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                    <div class="link bg-dribbble">
                        <div class="initial">
                            <i class="icon social_youtube"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Subscribe On YouTube</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

        </section>
        <!--End of social media section-->

        <!--Footer...START-->
    <div class="footer-container">
        <footer class="short bg-secondary-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <span class="sub">© Copyright <span id="footerYear"> </span> Agape Women's Ministry. All Rights Reserverd.</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <ul class="social-icons sub reduce-social-icons">
                            <li class="reduce_font">
                                <i class="icon icon_mail "></i><a href="~/Contact.cshtml" target="_blank">agapewomensministry@gmail.com</a>
                            </li>
                            <li class="reduce_font">
                                <i class="fa fa-phone "> </i> +(470) 242-7310 or <i class="fa fa-phone reduce_fa_icon reduce_font" ></i> +(404) 386-6668.
                            </li>
                        </ul>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </footer>
    </div>
    <!--Footer...END-->
				
		<script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.plugin.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/js/smooth-scroll.min.js"></script>
        <script src="~/js/skrollr.min.js"></script>
        <script src="~/js/spectragram.min.js"></script>
        <script src="~/js/scrollReveal.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/twitterFetcher_v10_min.js"></script>
        <script src="~/js/lightbox.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
</html>
				