
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
        <meta charset="utf-8">
        <title>AWM | Projects</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="img/AWMlogo.png">
        <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
<body>
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- Nav Menu - START...-->
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i>Agape Women's Ministry</span>
                                <div class="pull-right">
                                    <span class="alt-font"> We Love,  We Inspire, And Promote HOPE</span>
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->

                    <div class="row nav-menu">
                        <div class="col-sm-3 col-md-2 columns">
                            <a href="index.html">
                                <img class="logo logo-light" alt="Logo" src="img/AWMlogo.png">
                                <img class="logo logo-dark" alt="Logo" src="img/AWMlogo.png">
                            </a>
                        </div>
                        <div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li class="active">
                                    <a href="~/index.cshtml">Home</a>

                                </li>
                                <li class="has-dropdown">
                                    <a href="#">About Us</a>
                                    <ul class="subnav">
                                        <li><a href="~/about.cshtml">Who We Are</a></li>
                                        <li><a href="~/programs.cshtml">Programs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="~/contact.cshtml">Contact Us</a>

                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="~/givingback.cshtml">Giving Back</a>
                                </li>
                                <li>
                                    <a href="~/donate.cshtml">Donate</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                            </ul>
                            <ul class="social-icons text-right">
                                <li>
                                    <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                                        <i class="icon social_youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>
                </div><!--end of container-->
            </nav>
        </div>
        <!-- Nav Menu - END...-->

    <div class="main-container">
        <!-- Landing Page - START...-->
        <header class="page-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/hero14.jpg">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="text-white">
                            In addition to Building, Growing &  Learning, we believe in the call to give of our time, talents, and resources to Bless God's children.
                            This means going into other parts of the world and blessing those in need.
                        </h3>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </header>
        <!-- Landing Page - END...-->
        <!--Giving Back Story...START-->
        <section class="blog-list-3 bg-white">
            <div class="blog-snippet-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <details>
                                <summary><h3 class="giveBack_h1">Donation to the <em class="giveBack_em">Clarkson Refugee Community</em></h3></summary>
                                <p class="lead">
                                    In December 2016 and February 2017, Agape Women Ministry donated winter jackets and coats to families in the Clarkston Refugee community.
                                </p>
                                <img src="img/crc.png" />
                                <br />
                                <i class="icon icon_calendar"></i><span class="alt-font">Published 15th July 2014</span><br>
                                <i class="icon icon_clock_alt"></i><span class="alt-font">5 minute read</span>
                            </details>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </div><!--end of blog-snippet-3-->

            <div class="blog-snippet-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <details>
                                <summary><h3 class="giveBack_h1">Donation to the <em class="giveBack_em">The Ruach Foundation</em></h3></summary>
                                <p class="lead">
                                    In March 2015, Agape Women Ministry contributed towards a Monetary donation to assist with food and medical supplies during the Ebola Crisis in Liberia, West Africa.
                                </p>
                                <p >This donation supported the <span class="givingBack_highlight">Mango Town Mission School for the Deaf and Speech Impaired.</span></p>
                                <div>
                                    <details>
                                        <summary>See January 5th, 2014 contribution.</summary>
                                        <ul class="fa-ul">
                                            <li><i class="fa-li fa fa-check-square"></i>2 50lbs bags of rice</li>
                                            <li><i class="fa-li fa fa-check-square"></i>5.5 gallons of palm oil</li>
                                            <li><i class="fa-li fa fa-check-square"></i>3 gallons of vegetable oil</li>
                                            <li><i class="fa-li fa fa-check-square"></i>1 carton of sardines (48ct)</li>
                                            <li><i class="fa-li fa fa-check-square"></i>1 carton of luncheon meat (72ct)</li>
                                        </ul>
                                        <p>This donation also supported the <span class="givingBack_highlight">Mango Town Mission School for the Deaf and Speech Impaired.</span></p>
                                    </details>
                                </div>
                                
                                <br />
                                <section class="hero-slider">
                                    <ul class="slides">
                                        <li class="overlay">
                                            <div class="background-image-holder ">
                                                <img  src="~/img/rauch1.png" alt="Donation To Rauch Foundation">
                                            </div>
                                        </li>
                                        <li class="overlay">
                                            <div class="background-image-holder">
                                                <img src="~/img/rauch2.png" alt="Donation To Rauch Foundation">
                                            </div>
                                        </li>
                                    </ul>
                                </section>
                            </details>

                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </div><!--end of blog-snippet-3-->

            <div class="blog-snippet-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <details>
                                <summary><h3 class="giveBack_h1">Donation to the <em class="giveBack_em">The Redeemed Christian Church of God Maternity Center</em></h3></summary>
                                <p class="lead">
                                    On March 3rd, 2016 Agape Women Ministry donated 100 bags of essential baby supplies to The Redeemed Christian Church of God Maternity Center .
                                </p>
                                <div>
                                    <details>
                                        <summary>Supplies included</summary>
                                        <p>Each Family received a bag as well the below items.</p>
                                        <ul class="fa-ul">
                                            <li><i class="fa-li fa fa-check-square"></i>bottles</li>
                                            <li><i class="fa-li fa fa-check-square"></i>bibs</li>
                                            <li><i class="fa-li fa fa-check-square"></i>wipes</li>
                                            <li><i class="fa-li fa fa-check-square"></i>pacifiers</li>
                                            <li><i class="fa-li fa fa-check-square"></i>socks</li>
                                            <li><i class="fa-li fa fa-check-square"></i>q-tips</li>
                                        </ul>
                                    </details>
                                </div>
                                <br />
                                <img src="~/img/rcc.png" alt="The Redeemed Christian Church of God Maternity Center" />
                            </details>
                        </div>
                        
                    </div><!--end of row-->
                </div><!--end of container-->
            </div><!--end of blog-snippet-3-->

            <div class="blog-snippet-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <details>
                                <summary><h3 class="giveBack_h1">Donation to the <em class="giveBack_em">Cachelle International Creative Arts Center</em></h3></summary>
                                <p class="lead">
                                    On January 4th, 2014, Agape Women Ministry sponsored children to attend arts, music, and dance classes at the Creative Arts Center.
                                </p>
                                
                                <br />
                                <img src="~/img/cic.png" alt="Cachelle International Creative Arts Center" />
                            </details>
                        </div>

                    </div><!--end of row-->
                </div><!--end of container-->
            </div><!--end of blog-snippet-3-->
        </section>
        <!--Giving Back Story...END-->
    </div>

    <!--Start of social media section-->
        <section class="social-bar no-pad">
            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://twitter.com/LuvInspirinHOPE" target="_blank">
                    <div class="link bg-twitter">
                        <div class="initial">
                            <i class="icon social_twitter"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Follow On Twitter</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://www.facebook.com/AgapeWomensMinistry" target="_blank">
                    <div class="link bg-facebook">
                        <div class="initial">
                            <i class="icon social_facebook"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Friends us on Facebook</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

            <div class="col-md-4 col-sm-6 no-pad">
                <a href="https://www.youtube.com/channel/UCjshmbQ6vBn7TVv1njrTQHw" target="_blank">
                    <div class="link bg-dribbble">
                        <div class="initial">
                            <i class="icon social_youtube"></i>
                        </div>

                        <div class="hover-state">
                            <span class="text-white">Subscribe On YouTube</span>
                        </div>
                    </div>
                </a>
            </div><!--end of individual link-->

        </section>
        <!--End of social media section-->

     <!--Footer...START-->
    <div class="footer-container">
        <footer class="short bg-secondary-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <span class="sub">© Copyright <span id="footerYear"> </span> Agape Women's Ministry. All Rights Reserverd.</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <ul class="social-icons sub reduce-social-icons">
                            <li class="reduce_font">
                                <i class="icon icon_mail "></i><a href="~/Contact.cshtml" target="_blank">agapewomensministry@gmail.com</a>
                            </li>
                            <li class="reduce_font">
                                <i class="fa fa-phone "> </i> +(470) 242-7310 or <i class="fa fa-phone reduce_fa_icon reduce_font" ></i> +(404) 386-6668.
                            </li>
                        </ul>
                    </div>
                </div><!--end of row-->
            </div><!--end of container-->
        </footer>
    </div>
    <!--Footer...END-->

		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.plugin.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/js/smooth-scroll.min.js"></script>
        <script src="~/js/skrollr.min.js"></script>
        <script src="~/js/spectragram.min.js"></script>
        <script src="~/js/scrollReveal.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/twitterFetcher_v10_min.js"></script>
        <script src="~/js/lightbox.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/custom.js"></script>
</body>
</html>
