@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/AdminError?returnUrl="
            + Request.Url.LocalPath);
            
    }
    
    Page.Title = "AWM | Edit All Pages";
}

@if ( Roles.IsUserInRole("admin")) {
    <span id="loggedUser"> Welcome <b>@WebSecurity.CurrentUserName</b>! </span>
}
else {
     Response.Redirect("~/AdminError");
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <title>@Page.Title. </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="~/img/AWMlogo.png">
        <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="~/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>

    <body>
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<!-- Nav Menu - START...-->
        <div class="nav-container">
			<nav class="top-bar">
				<div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i><strong>AWM</strong> Admin Page</span>
                                <div class="pull-right">
                                    <!--<span class="alt-font"> We Love,  We Inspire, And Promote HOPE</span>-->
                                    @if ( Roles.IsUserInRole("admin")) {
                                        <span id="loggedUser"> Welcome <b>@WebSecurity.CurrentUserName</b> <i class="fa fa-smile-o fa-1x"></i></span>
                                        <form id="logoutForm" action="~/Account/Logout" method="post" style="display: inline;">
                                            @AntiForgery.GetHtml()
                                            <span class="alt-font btn btn-primary login-button btn-xs">
                                                <a  href="~/Account/Logout" title="Click To Logout">Log out</a>
                                            </span>
                                        </form>
                                    }
                                    else {
                                         Response.Redirect("~/AdminError");
                                    }
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->
					<div class="mobile-toggle">
						<i class="icon icon_menu"></i>
					</div>
					
				</div><!--end of container-->
			</nav>
		</div>
        <!-- Nav Menu - END...-->


        <!-- Content - Start...-->
		<div class="main-container">
			<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Welcome to The Agape Village <br> Admin Page.</h1>
							<p class="lead">
								Choose the pages below you would like to edit.
							</p>
						</div>
					</div><!--end of row-->
					
				</div><!--end of container-->
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active">All</li>
								<li data-filter=".home">Home</li>
								<li data-filter=".about_us">About Us</li>
								<li data-filter=".contact_us">Contact Us</li>
                                <li data-filter=".event">Event</li>
                                <li data-filter=".giving_back">Giving Back</li>
							</ul>
						</div><!--end of row-->
					</div><!--end of container-->
					
					<div class="projects-container">
					    
						<div class="col-md-6 col-sm-12 no-pad project home image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="~/img/blog-thumb-1.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>AWM</strong> Home Page.</h1>
									<p class="text-white">
										Edit AWM's home page<br>section.
									</p>
									<a href="~/Members/edit_home" target="_blank" class="btn btn-primary btn-white">Edit Home</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-6 col-sm-12 no-pad project about_us image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="~/img/blog-thumb-2.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>AWM</strong> About Us</h1>
									<p class="text-white">
										Edit AWM's About Us<br>section.
									</p>
									<a href="~/Members/edit_aboutus" target="_blank" class="btn btn-primary btn-white">Edit About Us</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project contact_us image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="~/img/project3.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>AWM</strong> Contact Us</h1>
									<p class="text-white">
										Edit AWM's Contact Us<br>section.
									</p>
									<a href="project-single.html" target="_blank" class="btn btn-primary btn-white">Edit Contact Us</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project event image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="~/img/img789.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>AWM</strong> Donation</h1>
									<p class="text-white">
                                        Edit AWM's Donation<br>section.
									</p>
									<a href="project-single.html" target="_blank" class="btn btn-primary btn-white">Edit Donation</a>
								</div>
							</div>
						</div><!--end of individual project-->
						
						<div class="col-md-4 col-sm-6 no-pad project giving_back image-holder">
							<div class="background-image-holder">
								<img class="background-image" alt="Background Image" src="~/img/image12.jpg">
							</div>
							<div class="hover-state">
								<div class="align-vertical">
									<h1 class="text-white"><strong>AWM</strong> Events</h1>
									<p class="text-white">
                                        Edit AWM's Events<br>section.
									</p>
									<a href="project-single.html" target="_blank" class="btn btn-primary btn-white">Edit Events</a>
								</div>
							</div>
						</div><!--end of individual project-->
					
					</div><!--end of projects-container-->
					
				</div><!--end of projects wrapper-->
				
			</section>
		</div>
        <!-- Content - END...-->

        <!-- Footer - Start...-->
		<div class="footer-container">
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
                            <strong><span class="sub">© Copyright <span class="footerYear"> </span>, Agape Women's Ministry. All Rights Reserverd.</span></strong>
						</div>
					</div><!--end for row-->
				</div><!--end of container-->
				
			
			</footer>
		</div>
        <!-- Footer - END...-->
        
				
		<script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.plugin.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/js/smooth-scroll.min.js"></script>
        <script src="~/js/skrollr.min.js"></script>
        <script src="~/js/spectragram.min.js"></script>
        <script src="~/js/scrollReveal.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/twitterFetcher_v10_min.js"></script>
        <script src="~/js/lightbox.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
</html>
				