@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    
    Page.Title = "Members Information";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Liberia, Mentorship, Nonprofit, Women, and Girls Empowerment, Hope</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="~/css/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
		
        <!-- Nav Menu - START...-->
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <span class="alt-font"><i id="AWM_logo_header" class="icon icon_globe-2"></i>Agape Women's Ministry</span>
                                <div class="pull-right">
                                    <span class="alt-font"> We Love,  We Inspire, And Promote HOPE</span>
                                </div>
                            </div>
                        </div>
                    </div><!--end of row-->

                    <div class="row nav-menu">
                        <div class="col-sm-3 col-md-2 columns">
                            <a href="index.html">
                                <img class="logo logo-light" alt="Logo" src="~/img/AWMlogo.png">
                                <img class="logo logo-dark" alt="Logo" src="~/img/AWMlogo.png">
                            </a>
                        </div>
                        <div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li class="active">
                                    <a href="index.html">Home</a>

                                </li>
                                <li>
                                    <a href="about.html">About Us</a>

                                </li>
                                <li>
                                    <a href="#">Programs</a>

                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="GivingBack.html">Giving Back</a>
                                </li>
                                <li>
                                    <a href="donate.html">Donate</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                            </ul>
                            <ul class="social-icons text-right">
                                <li>
                                    <a href="#">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="icon social_instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div><!--end of row-->
                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>
                </div><!--end of container-->
            </nav>
        </div>
        <!-- Nav Menu - END...-->

		<div class="main-container">
            <!-- Landing Page - START...-->	
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<img class="background-image" alt="Background Image" src="~/img/hero19.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="text-white alt-font">The Agape Village Mentorship Program</h3>
							<h1 class="text-white">Agape's mission is to provide hope and restoration of  dignity to disadvantaged young girls and vulnerable women.</h1>
							<p class="lead text-white">Discover Agape Women Ministries</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</header>
            <!-- Landing Page - END...-->	


            <!-- Video Section - START...-->
            <section class="video-inline">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <h1 class="space-bottom-medium">Together we can reach one woman at a time - love, hope, and help inspire. Together we can change the world!</h1>
                            <p class="lead space-bottom-medium">
                                HELP US EMPOWER VULNERABLE AND DISADVANTAGED WOMEN AND GIRLS TO TRANSFORM THEIR LIVES.
                            </p>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="inline-video-wrapper">

                                <iframe src="https://player.vimeo.com/video/171334323?autoplay=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                            </div>
                        </div>
                    </div><!--end of row-->
                </div><!--end of container-->
            </section>
            <!-- Video Section - End...-->


            <!-- Section For Quotes - START...-->
			<section class="bg-primary">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="testimonials-slider text-center">
								<ul class="slides">
									<li>
										<p class="text-white lead">A woman is the full circle. Within her is the power to create, nurture and transform.</p>
										<span class="author text-white">Diane Mariechild</span>
									</li>
									
									<li>
										<p class="text-white lead">To be beautiful means to be yourself. You don’t need to be accepted by others. You need to accept yourself.</p>
										<span class="author text-white">Thich Nhat Hanh</span>
									</li>

                                    <li>
                                        <p class="text-white lead">You are more powerful than you know; you are beautiful just as you are.</p>
                                        <span class="author text-white">Melissa Etheridge</span>
                                    </li>
									
									<li>
										<p class="text-white lead">I’ve come to believe that each of us has a personal calling that’s as unique as a fingerprint – and that the best way to succeed is to discover what you love and then find a way to offer it to others in the form of service, working hard, and also allowing the energy of the universe to lead you.</p>
										<span class="author text-white">Oprah Winfrey</span>
									</li>
								</ul>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
            <!-- Section For Quotes - END...-->

            <!--Maps And Contact...START-->
            <div class="main-container">
                <section class="map">
                    <div class="map-holder">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26523.076337422983!2d-84.19093107578584!3d33.802388213156995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5af24c25d5bbb%3A0x4119e5c541409adc!2sStone+Mountain%2C+GA!5e0!3m2!1sen!2sus!4v1500962809912"></iframe>
                    </div>
                </section>

                <section class="contact-thirds">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h1>
                                    Contact Us<br>
                                    We'd love to hear from you
                                </h1>
                            </div>
                        </div><!--end of row-->

                        <div class="row">
                            <div class="col-sm-4">
                                <h5>Mission Statement</h5>
                                <p>
                                    At Agape Women Ministries, we strive to be God's feet and hands where He can use us to help women.  
                                </p>

                                <p>
                                    Our mission is to love, to inspire, and to be a channel of hope.
                                </p>
                            </div>

                            <div class="col-sm-4 text-center">
                                <h5>Details</h5>
                                <p class="lead"> 
                                    +(470) 242-731 or +(404) 386-6668<br>
                                    agapewomensministry@gmail.com <br>
                                    <br>
                                    P.O. Box 871023<br>
                                    Stone Mountain, GA 30087
                                </p>
                            </div>

                            <div class="col-sm-4">
                                <h5>Leave A Message</h5>
                                <div class="form-wrapper clearfix">
                                    <form class="form-contact email-form">
                                        <div class="inputs-wrapper">
                                            <input class="form-name validate-required" type="text" placeholder="Your Name" name="name">
                                            <input class="form-email validate-required validate-email" type="text" placeholder="Your Email Address" name="email">
                                            <textarea class="form-message validate-required" name="message" placeholder="Your Message"></textarea>
                                        </div>
                                        <input type="submit" class="send-form" value="Send Form">
                                        <div class="form-success">
                                            <span class="text-white">Message sent - Thanks for your enquiry</span>
                                        </div>
                                        <div class="form-error">
                                            <span class="text-white">Please complete all fields correctly</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!--end of row-->
                    </div><!--end of container-->
                </section>
            </div>
            <!--Maps And Contact...END-->
		</div>

        <!--Footer...START-->
		<div class="footer-container">
			<footer class="short bg-secondary-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-10">
                            <span class="sub">© Copyright <span id="footerYear"> </span> Agape Women's Ministry. All Rights Reserverd.</span>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</footer>
		</div>
        <!--Footer...END-->

		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.plugin.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.flexslider-min.js"></script>
        <script src="~/js/smooth-scroll.min.js"></script>
        <script src="~/js/skrollr.min.js"></script>
        <script src="~/js/spectragram.min.js"></script>
        <script src="~/js/scrollReveal.min.js"></script>
        <script src="~/js/isotope.min.js"></script>
        <script src="~/js/twitterFetcher_v10_min.js"></script>
        <script src="~/js/lightbox.min.js"></script>
        <script src="~/js/jquery.countdown.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/js/custom.js"></script>
    </body>
</html>
				